<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Unternehmen</th>
        <th scope="col">Stellplatz</th>
        <th scope="col">Löschen</th>
      </tr>
    </thead>
    <tbody>
      <% @user["users"].each_with_index do |(k,v), i| %>
        <tr>
          <%= "<th scope='row'>#{i+1}</th>" %>
          <%= "<td>#{k}</th>" %>
          <%= "<td>#{v.nil? ? "ohne" : v}</th>" %>
          <%= "<td>" %>
          <%= "<form method='post' action='/backend'>" %>
              <%= %Q(<input type="text" class="form-control" id="inputEmail" name='inputEmail' value="#{params["inputEmail"]}"hidden>) %>
              <%= %Q(<input type="text" class="form-control" id="inputPassword" name='inputPassword' value="#{params["inputPassword"]}"hidden>) %>
              <%= %Q(<button class="btn btn-danger" type="submit" name='deleteUser' value="">Löschen</button>) %>
              <%= %Q(<input type="text" class="form-control" id="spotID" name="spotID" value="#{v}" hidden>) %>
              <%= %Q(<input type="text" class="form-control" id="userID" name="userID" value="#{@spots[v]}" hidden>) %>
              <%= %Q(<input type="text" class="form-control" id="userKey" name="userKey" value="#{k}" hidden>) %>
          <%= "</form>" %>
          <%= "</td>" %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>