<div class="container">
    <% if (!@msg.nil?) %>
        <div data-alert class="alert alert-success" role="alert">
            <%= @msg %>
        </div>
    <% end %>
    <form class="form-inline" method='post' action='/backend'>
        <legend class=" mb-2">Bestätigungs-E-Mail erneut senden?</legend>
        <div class="form-group mb-2">
            <label for="email" class="sr-only">Bestätigungs-E-Mail erneut senden?</label>
            <input type="email" class="form-control" id="new-mail" name="new-mail" value="<%=@params["mail"]%>" required>
        </div>
        <%= @params.map{|key, value| %Q(<input type="text" class="form-control form-control-sm" id='#{key}' name='#{key}' value='#{value}' hidden>)}.join("\n") %>
        <input type="text" class="form-control form-control-sm" id='resend' name='resend' value='on' hidden>
        <button type="submit" class="btn btn-primary mx-sm-3 mb-2">Erneut Senden</button>
    </form>
    <hr>
    <legend >
        Detailansicht
    </legend>
    <form method='post' action='/backend'>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-sm">
                <thead>
                    <tr>
                    <th scope="col">Buchungsdatum:</th>
                    <th>
                        <div class="input-group date" >
                            <input type="text" name="date" class="form-control form-control-sm" id="datepicker" value="<%if @params["date"].nil? %><%=@date%><% else %><%= @params["date"]%><%end%>" required>
                            <div class="input-group-append">
                                <span class="input-group-text" id="datepicker-addon"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                    <th scope="col">Angaben zur Firma:</th>
                    <th scope="col">&emsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Unternehmen:</td>
                    <td><input type="text" class="form-control form-control-sm" name="company" id="company" value="<%= @params["company"]%>" required></td>
                    </tr>
                    <tr>
                    <td>Straße / Nr.:</td>
                    <td><input type="text" class="form-control form-control-sm" name="street" id="street" value="<%= @params["street"]%>" required></td>
                    </tr>
                    <tr>
                    <td>PLZ:</td>
                    <td><input type="text" class="form-control form-control-sm" name="zip" id="zip" value="<%= @params["zip"]%>" required></td>
                    </tr>
                    <tr>
                    <td>Ort:</td>
                    <td><input type="text" class="form-control form-control-sm" name="city" id="city" value="<%= @params["city"]%>" required></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                    <th scope="col">Ansprechpartner:</th>
                    <th scope="col">&emsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Anrede:</td>
                    <td>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="m" <% if @params["gender"] == "m" %>checked<% end %>>
                                <label class="form-check-label" for="gender">Herr</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="w" <% if @params["gender"] == "w" %>checked<% end %>>
                                <label class="form-check-label" for="gender">Frau</label>
                            </div>
                        </div>
                    </tr>
                    <tr>
                    <td>Titel:</td>
                    <td><input type="text" class="form-control form-control-sm" name="title" id="title" value="<%= @params["title"]%>" ></td>
                    </tr>
                    <tr>
                    <td>Vorname:</td>
                    <td><input type="text" class="form-control form-control-sm" name="fname" id="fname" value="<%= @params["fname"]%>" required></td>
                    </tr>
                    <tr>
                    <td>Nachname:</td>
                    <td><input type="text" class="form-control form-control-sm" name="lname" id="lname" value="<%= @params["lname"]%>" required></td>
                    </tr>
                    <tr>
                    <td>Abteilung:</td>
                    <td><input type="text" class="form-control form-control-sm" name="department" id="department" value="<%= @params["department"]%>"></td>
                    </tr>
                    <tr>
                    <td>Telefon:</td>
                    <td><input type="text" class="form-control form-control-sm" name="phone" id="phone" value="<%= @params["phone"]%>" required></td>
                    </tr>
                    <tr>
                    <td>Fax:</td>
                    <td><input type="text" class="form-control form-control-sm" name="fax" id="fax" value="<%= @params["fax"]%>"></td>
                    </tr>
                    <tr>
                    <td>E-Mail-Adresse:</td>
                    <td><input type="email" class="form-control form-control-sm" name="mail" id="mail" value="<%= @params["mail"]%>" required></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                    <th scope="col">Unternehmensvertreter vor Ort:</th>
                    <th scope="col">&emsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Anrede:</td>
                    <td>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ugender" id="ugender" value="m" <% if @params["ugender"] == "m" %>checked<% end %>>
                                <label class="form-check-label" for="ugender">Herr</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ugender" id="ugender" value="w" <% if @params["ugender"] == "w" %>checked<% end %>>
                                <label class="form-check-label" for="ugender">Frau</label>
                            </div>
                        </div>
                    </tr>
                    <tr>
                    <td>Titel:</td>
                    <td><input type="text" class="form-control form-control-sm" name="utitle" id="utitle" value="<%= @params["utitle"]%>" ></td>
                    </tr>
                    <tr>
                    <td>Vorname:</td>
                    <td><input type="text" class="form-control form-control-sm" name="ufname" id="ufname" value="<%= @params["ufname"]%>" required></td>
                    </tr>
                    <tr>
                    <td>Nachname:</td>
                    <td><input type="text" class="form-control form-control-sm" name="ulname" id="ulname" value="<%= @params["ulname"]%>" required></td>
                    </tr>
                    <tr>
                    <td>Anzahl vor Ort:</td>
                    <td>   
                        <select id="anz" name="anz" class="form-control form-control-sm">
                            <option name="anz" id="anz" value="1" <% if @params["anz"] == "1" %>selected<% end %>>1</option>
                            <option name="anz" id="anz" value="2" <% if @params["anz"] == "2" %>selected<% end %>>2</option>
                            <option name="anz" id="anz" value="3" <% if @params["anz"] == "3" %>selected<% end %>>3</option>
                            <option name="anz" id="anz" value="4" <% if @params["anz"] == "4" %>selected<% end %>>4</option>
                            <option name="anz" id="anz" value="5" <% if @params["anz"] == "5" %>selected<% end %>>5</option>
                        </select>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-sm">
                <thead>
                    <tr>
                    <th scope="col">Paket:</th>
                    <th scope="col">Name:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Leistungspaket:</td>
                    <td>
                        <div class="form-check form-check-row">
                            <input class="form-check-input" type="radio" name="lp" id="basic" value="basic" <% if @params["lp"] == 'basic' %>checked<%end%> required>
                            <label class="form-check-label" for="basic">Basispaket</label>
                        </div>
                        <div class="form-check form-check-row">
                            <input class="form-check-input" type="radio" name="lp" id="comfort" value="comfort" <% if @params["lp"] == 'comfort' %>checked<%end%> required>
                            <label class="form-check-label" for="comfort">Comfort</label>
                        </div>
                        <div class="form-check form-check-row">
                            <input class="form-check-input" type="radio" name="lp" id="comfortp" value="comfortp" <% if @params["lp"] == 'comfortp' %>checked<%end%> required>
                            <label class="form-check-label" for="comfortp">Cofort Plus</label>
                        </div>
                    </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                    <th scope="col">Zusatzoption:</th>
                    <th scope="col">Name:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Stellplatzreservierung:</td>
                    <td>
                        <div class="form-check form-check-row">
                            <input class="form-check-input" type="checkbox" name="booking" id="booking" <% if @params["booking"] == 'on' %>checked<%end%>>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <td>Werbeanzeige im Messekatalog:</td>
                    <td>
                        <div class="form-check form-check-row">
                            <input class="form-check-input" type="checkbox" name="pres" id="pres" <% if @params["pres"] == 'on' %>checked<%end%>>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <td>Logo im Messekatalog:</td>
                    <td>
                        <div class="form-check form-check-row">
                            <input class="form-check-input" type="checkbox" name="elev" id="elev" <% if @params["elev"] == 'on' %>checked<%end%>>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <td>Einladung in 2020:</td>
                    <td>
                        <div class="form-check form-check-row">
                            <input class="form-check-input" type="checkbox" name="inv" id="inv" <% if @params["inv"] == 'on' %>checked<%end%>>
                        </div>
                    </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                    <th scope="col">Stellplatzreservierung:</th>
                    <th scope="col">NR:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Stellplatz</td>
                    <td>
                        <select id="nSpotID" name="nSpotID" class="form-control form-control-sm">
                            <option <% if @params["spotID"].nil? %>selected<% end %>>-</option>
                            <% @spots.each do |id, stat| %>
                                <% if stat == "c" %>
                                    <option name="nSpotID" id="nSpotID" class="bg-info" value="<%= id %>" <% if @params["spotID"] == id %>selected<% end %>><%= id %> (Comfort)</option>
                                <% elsif stat == "d" %>
                                    <option name="nSpotID" id="nSpotID" class="bg-success" value="<%= id %>" <% if @params["spotID"] == id %>selected<% end %>><%= id %> (Basis)</option>
                                <% else %>
                                    <option name="nSpotID" id="nSpotID" class="bg-danger" value="<%= id %>" <% if @params["spotID"] == id %>selected<% end %>><%= id %> <% if @params["spotID"] == id %>✔<% else %>(Reserviert)<% end %></option>
                                <% end %>
                            <% end %>
                        </select>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <a href="/backend" class="btn btn-danger mb-2" role="button">Zurück</a>
        <input type="text" class="form-control form-control-sm" id='spotID' name='spotID' value='<%= @params["spotID"]%>' hidden>
        <input type="text" class="form-control form-control-sm" id='sessionID' name='sessionID' value='<%= @params["sessionID"]%>' hidden>
        <input type="text" class="form-control form-control-sm" id='rebook' name='rebook' value='on' hidden>
        <button type="submit" class="btn btn-primary mb-2">Buchungsdetails Anpassen</button>
    </form>
    <script>
        $('#datepicker').datepicker({
            language: 'de',
            uiLibrary: 'bootstrap4'
        });
    </script>
<div>
