<div class="container">
    <div class="row">
        <div class="frame col-sm-6">
            <form method="post" action="/validate_step_three">
                <img class="deficon" src="/images/default.png"/>	
                <p class="deftext">Basis</p>
                <img class="comficon" src="/images/comfort.png"/>	
                <p class="comftext">Comfort / Comfort Plus</p>
                <img class="resicon" src="/images/res.png"/>
                <p class="restext">Reserviert</p>
                <img class="background" src="/images/plan.jpg"/>
                <% @spots.each do |id, stat| %>
                    <% if stat == "c" %>
                        <button type="submit" name="spotID" value="<%= id %>" <% if session[:lp] == "basic" %><%= "disabled" %><% end %>><img title="Comfort" src="/images/comfort.png" class="img<%= id %>"</button> 
                    <% elsif stat == "d" %>
                        <button type="submit" name="spotID" value="<%= id %>"><img title="Standard" src="/images/default.png" class="img<%= id %>"</button> 
                    <% else %>
                        <button type="submit" name="spotID" value="<%= id %>" disabled><img title="Reserviert" src="/images/res.png" class="img<%= id %>"</button>
                    <% end %>
                <% end %>
        <% if (!params['spotID'].nil?) %>
                </form>
            <button type="submit" name="spotID" value="<%= params["spotID"] %>" disabled><img title="Reserviert" src="/images/res.png" class="img<%= params["spotID"] %>"</button>
            </div>
            <div class="col-sm-6 big-gap">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Sie haben Stellplatz <%= params["spotID"] %> ausgewählt.</h5>
                    <p class="card-text">Soll dieser Stellplatz für Sie reserviert werden?</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="/step_three" class="btn btn-danger">&emsp;&emsp;Nein&emsp;&emsp;</a>
                        </div>
                        <div class="col-sm-6">
                            <form method="post" action="/step_four">
                                <button class="btn btn-success" type="submit" name="spotID" value="<%= params["spotID"] %>" >&emsp;&emsp;Ja&emsp;&emsp;&emsp;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            </div>
            <div class="col-sm-6 big-gap">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Bitte wählen Sie einen Stellplatz aus.</h5>
                    <p class="card-text">Bitte klicken Sie dazu in einen der Kreise im nebenstehenden Bild und wählen Sie einen Platz in der von Ihnen gewählten Kategorie.</p>
                </div>
            </div>
        <% end %>
            </form>
            </div>
            <div class="col-sm-6 big-gap-button">
                <a href="/step_two" class="btn btn-danger" role="button">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Zurück&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a>
            </div>
    </div>
</div>
